.header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    
}

.header p{
    font-size: $font-size-medium;
    font-weight: 600;
    color: $primary-color-text;
    margin: 20px;
}
.icons_header{
    display:flex;
    justify-content: space-between;
    margin-right: 30px;
}
.icon{
    margin-right: 10px;
    margin-top: 20px;
    font-size: 20px;
    margin-left: 20px;
}