
.side_nav{
    position: fixed;
    background-color: #2B2B2B;
    width: 250px;
    height: 100%;
}

.nav_image{
    width: 80%;
    padding: 30px;
}

.menu_element{
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-size: 25px;
    text-decoration: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    white-space: nowrap;
    align-items: center;
}

.menu_element--selected,
.menu_element:hover {
    font-family: $fonts !important; 
    font-weight: 700;
    color: #F0A500 !important;
}
.button_icon{
    margin-right: 10px;
    font-size: 20px;
}


.button_icon--selected,
.button_icon:hover{
    margin-right: 10px;
    font-size: 25px;
    color: #F0A500;
}