.layout{
    display: flex;
    height: 100vh;
}

.side_nav{
    
    background-color: #2B2B2B;
    width: 270px;
    height: 100%;
}

.nav_image{
    width: 80%;
    padding: 30px;
}

.menu_element{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 25px;
    text-decoration: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    white-space: nowrap;
}

.menu_element--selected,
.menu_element:hover{
    font-family: $fonts !important; 
    font-weight: 700;
    color: #F2DC20;
}
