.body_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    overflow:hidden; 
    overflow-y:scroll;
    
}

.main_content{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: $fonts;
    
}

.body_title {
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin: 20px;
    padding: 0;
    margin-bottom: 20px;
    
}
.body_list::-webkit-scrollbar{
    display: none;
  }

.button_pagination{
    background-color: #353430;
    border: transparent;
    border-radius: 5px;
    align-items: center;
    width: 50px;
    align-items: center;
    height: 50px;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.button_pagination_center{
    background-color: #F0A500;
    border-radius: 100px;
    align-items: center;
    width: 50px;
    align-items: center;
    height: 50px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.buttons_page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.sorter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    width: auto;
    // border: 1px solid red;
}

.sorter div , .sorter select {
    
    padding: 0px 10px;
}

.sorter select {
    width: 105px;
}

