.body_list{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    overflow:hidden; 
    overflow-y:scroll;
    
}

.main_content{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: $fonts;
    
}

.body_title {
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin: 20px;
    padding: 0;
    margin-bottom: 20px;
    
}
.body_list::-webkit-scrollbar{
    display: none;
  }




