$fonts: 'Poppins', Helvetica, sans-serif;
$primary-color: #1B1A17;
$spacing: 2rem;
$font-size-small: 1.2rem;
$font-size-medium: 1.4rem;
$font-size-large: 2rem;
$primary-color-text: #F5F5F5;
$background-color-navbar: #2B2B2B;
$active-button-color: #F0A500;