.card {
  background-color: #2B2B2B;
  width: 20rem;
  overflow: hidden;
  margin: 2rem;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  /* using the mixins function */ }
  .card img {
    height: 15rem;
    background-size: cover;
    background-position: center center; }
  .card .card_content {
    padding: 2rem; }
  .card .card_title {
    margin: 0;
    color: white;
    margin-bottom: 10px; }
  .card .card_description {
    color: rgba(255, 255, 255, 0.747); }

.body_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  overflow: hidden;
  overflow-y: scroll; }

.body_title {
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin: 20px;
  padding: 0;
  margin-bottom: 20px; }

.body_list::-webkit-scrollbar {
  display: none; }

.button_pagination {
  background-color: #353430;
  border: transparent;
  border-radius: 5px;
  align-items: center;
  width: 50px;
  align-items: center;
  height: 50px;
  color: white;
  font-weight: 700;
  font-size: 20px; }

.button_pagination_center {
  background-color: #F0A500;
  border-radius: 100px;
  align-items: center;
  width: 50px;
  align-items: center;
  height: 50px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px; }

.buttons_page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px; }

.sorter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  width: auto; }

.sorter div, .sorter select {
  padding: 0px 10px; }

.sorter select {
  width: 105px; }

.search_input {
  justify-content: center;
  border: solid 2px transparent;
  border-radius: 5px;
  margin-bottom: 25px;
  width: 300px;
  height: 35px;
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 14px;
  color: #77828e;
  margin: 30px; }

.side_nav {
  position: fixed;
  background-color: #2B2B2B;
  width: 250px;
  height: 100%; }

.nav_image {
  width: 80%;
  padding: 30px; }

.menu_element {
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-size: 25px;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  white-space: nowrap;
  align-items: center; }

.menu_element--selected,
.menu_element:hover {
  font-family: "Poppins", Helvetica, sans-serif !important;
  font-weight: 700;
  color: #F0A500 !important; }

.button_icon {
  margin-right: 10px;
  font-size: 20px; }

.button_icon--selected,
.button_icon:hover {
  margin-right: 10px;
  font-size: 25px;
  color: #F0A500; }

.header {
  height: 70px;
  display: flex;
  justify-content: space-between; }

.header > p {
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin: 20px; }

.icons_header {
  margin-right: 10px;
  margin-top: 20px;
  font-size: 20px;
  margin-left: 20px; }

.subheader {
  display: flex;
  justify-content: space-between; }

.subheader p {
  color: white; }

body {
  font-family: "Poppins", Helvetica, sans-serif;
  /* variable usage */
  background-color: #1B1A17; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

li {
  margin: 30px; }
