@import 'variables';
@import 'mixins';
@import 'card';
@import 'list';
@import 'components/search';
@import 'components/layout';
@import 'components/header';


body {
    font-family: $fonts; /* variable usage */
    background-color: $primary-color;
    display: flex;
    min-height: 100vh;
    @include flex-center(); /* using the mixins function */
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    margin: 30px
}