.card {
  background-color: #2B2B2B;
  width: 20rem;
  overflow: hidden;
  margin: 2rem;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  /* using the mixins function */ }
  .card img {
    height: 15rem;
    background-size: cover;
    background-position: center center; }
  .card .card_content {
    padding: 2rem; }
  .card .card_title {
    margin: 0;
    color: white;
    margin-bottom: 10px; }
  .card .card_description {
    color: rgba(255, 255, 255, 0.747); }

.card_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start; }

.body_title {
  font-size: 2rem;
  font-weight: 700;
  color: #F5F5F5;
  margin: 20px;
  padding: 0;
  margin-bottom: 20px; }

.body_interactions {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  margin-bottom: 20px;
  align-items: center; }

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit; }

.button_pagination {
  background-color: #353430;
  border: transparent;
  border-radius: 5px;
  align-items: center;
  width: 50px;
  align-items: center;
  height: 50px;
  color: white;
  font-weight: 700;
  font-size: 20px; }

.button_pagination_center {
  background-color: #F0A500;
  border-radius: 100px;
  align-items: center;
  width: 50px;
  align-items: center;
  height: 50px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px; }

.buttons_page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px; }

.sorter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  width: auto; }

.sorter div, .sorter select {
  padding: 0px 10px; }

.sorter select {
  width: 105px; }

.search_input {
  justify-content: center;
  border: solid 2px #F0A500;
  border-radius: 5px;
  margin-top: 35px;
  margin-bottom: 25px;
  width: 300px;
  height: 35px;
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 14px;
  color: #77828e; }

.search_input:focus {
  outline: #F0A500; }

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #2B2B2B;
  position: fixed;
  height: 100%;
  overflow: auto;
  overflow-x: hidden; }

.sidebar a {
  display: block;
  color: #F5F5F5;
  padding: 16px;
  text-decoration: none; }

ul {
  list-style: none; }

.sidebar a.active {
  background-color: #F0A500;
  color: #F5F5F5;
  text-decoration: none;
  font-size: 1.2rem; }

.button_icon {
  color: #F5F5F5;
  margin-right: 10px;
  font-size: 1.2rem; }

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: #F5F5F5; }

div.content {
  margin-left: 200px;
  height: 1000px; }

.nav_image {
  width: 80%;
  padding: 30px; }

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative; }
  .sidebar a {
    float: left; }
  div.content {
    margin-left: 0; }
  .nav_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%; } }

@media screen and (max-width: 360px) {
  .sidebar a {
    text-align: center;
    float: none; } }

.header {
  height: 70px;
  display: flex;
  justify-content: space-between; }

.header p {
  font-size: 1.4rem;
  font-weight: 600;
  color: #F5F5F5;
  margin: 20px; }

.icons_header {
  display: flex;
  justify-content: space-between;
  margin-right: 30px; }

.icon {
  margin-right: 10px;
  margin-top: 20px;
  font-size: 20px;
  margin-left: 20px; }

.footer {
  background-color: #555;
  height: 70px;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0; }

.footer_title {
  font-size: 1.2rem;
  color: #F5F5F5;
  margin: 20px; }

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #1B1A17; }
